<nav class="navbar navbar-expand-lg dark-edition-1  navbar-absolute-1 fixed-top " id="navigation-example">
    <div class="">
      
      <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation" data-target="#navigation-example">
        <span class="sr-only">Toggle navigation</span>
        <span class="navbar-toggler-icon icon-bar"></span>
        <span class="navbar-toggler-icon icon-bar"></span>
        <span class="navbar-toggler-icon icon-bar"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end">

        <ul class="navbar-nav">
          <li class="">
            <a class="nav-link" [routerLink]="['/front/mainProfesseur']">
              <i class="btn-round uu ">Professeur</i>
              
            </a>
          </li>
          </ul>
          <ul class="navbar-nav">
            <li class="">
              <a class="nav-link" [routerLink]="['']">
                <i class="btn-round uu ">Offre</i>
                
              </a>
            </li>
            </ul>
<!-- FOR FRONT-->
            <ul class="navbar-nav ">
              <li class=" ">
                <a class="nav-link" [routerLink]="['']">
                  <i class="btn-round uu ">Contrat</i>
                  
                </a>
              </li>
              </ul>

              <ul class="navbar-nav" >
           
                <li class=" ">
                  <a class="nav-link" [routerLink]="['']">
                    <i class=" btn-round uu">Projet</i>
                    
                  </a>
                </li>
                </ul>
                <ul class="navbar-nav">
                  <li class="">
                    <a class="nav-link" [routerLink]="['/front/mainProfesseur']">
                      <i class="btn-round uu ">Equipe</i>
                      
                    </a>
                  </li>
                  </ul>
                  
      </div>
    </div>
   
  </nav>
  
